.lc-logo-login {
    margin: auto;
    height: 200px;
    width: 200px;
    display: flex;
    margin-top: 15vh;
}

#login-form {
    padding-top: 15vh;
    margin-bottom: 25vh;
    border-radius: 50px;
}

#login-button {
    width: 100%;
    background: #cd4559;
    border-radius: 50px;
}

.form-control {
    border-radius: 50px;
    background: transparent;
    color: white;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 600px) {
    #login-form {
        padding-top: 10vh;
        margin-bottom: 15vh;
    }

    .lc-logo-login {

        margin-top: 5vh;
    }
    
}