a {
    color: #FFFFFF;
}

.container-flex {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
.phone-screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* width: 50%; */
    width: 100%;
    background: #4d4c4c;
    }
    
    
    .lcNav {
    background: #cd4559;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
    width: 382px;
    height: 75px;
    }
    
    .title-font {
        color: #FFFFFF;
        font-family: 'Proxima Nova Soft';
        text-align: center;
    }

    .space {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        height: 20px;
    }

    .lcLogo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 100%;
    }

    .btn-primary {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-color: #cd4559;
        background: #cd4559;
        font-family: 'Proxima Nova Soft'; 

    }

    .left-arrow {
        display: flex;
        margin-top: 30%;
        width: 25px;
        height: 100%;
    }

    .account-profile {
        display: flex;
        margin-top: 20%;
        margin-left: 25px;
        width: 30px;
        height: 100%;
    }

    .message-bubble {
        display: flex;
        margin-top: 30%;
        margin-left: 10px;
        width: 45px;
        height: 100%;
    }

    .home-button {
        display: flex;
        margin-top: 15%;

    }


    #cuntainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-title {
        font-family: 'Proxima Nova Soft'
    }
    