
a {
    color: #FFFFFF;
}

.container-flex {
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
}
.phone-screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
    /* width: 50%; */
    width: 382px;
    min-height: 100vh;
    background: #4d4c4c;
    }
    
    .disclaimer {
        color: #d5d9df;
        font-family: 'Proxima Nova Soft';
        text-align: center;
    }
    
    .lcNav {
    background: #cd4559;
    margin-left: auto;
    margin-right: auto;
    margin-top: -64px;
    width: 382px;
    height: 75px;
    }
    
    .title-font {
        color: #FFFFFF;
        font-family: 'Proxima Nova Soft';
        text-align: center;
    }
    .lead-disclaimer {
        color: #d5d9df;
        font-family: 'Proxima Nova Soft';
        text-align: center;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 20px;
    }

    /* .space {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        width: auto;
        height: 20px;
    } */

    .lcLogo {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 100%;
    }

    .btn-primary {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        border-color: #cd4559;
        background: #cd4559;
        font-family: 'Proxima Nova Soft'; 
    }
    .login-signup-buttons {
        margin-top: 2vh;
    }
    /* .left-arrow {
        display: flex;
        margin-top: 30%;
        width: 25px;
        height: 100%;
    } */
/* 
    .account-profile {
        display: flex;
        margin-top: 20%;
        margin-left: 25px;
        width: 30px;
        height: 100%;
    } */

    /* .message-bubble {
        display: flex;
        margin-top: 30%;
        margin-left: 10px;
        width: 45px;
        height: 100%;
    } */

    /* .home-button {
        display: flex;
        margin-top: 15%;
    } */

    #cuntainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-title {
        font-family: 'Proxima Nova Soft'
    }

    @media only screen and (max-width: 600px) {
        .lcLogo {
            margin-top: -5vh;
        }
        
    }
    