.video {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -99;
  color: black;
}
video {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
img {
  max-width: 100%;
  height: auto;
}
.output{
    visibility: hidden;
    display: none;
}
.snap{
    position:absolute;
    display: flex;
    z-index:1000;

}