.video {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -99;
}
video {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
img {
  max-width: 100%;
  height: auto;
}
.output{
    visibility: hidden;
    display: none;
}
.snap{
    display: block;
    position: absolute;
    width: max-content;
    bottom: 8%;
    margin: auto;

}
